body{
    background-color: rgb(50, 50, 55);
    overflow: hidden;
}

#body-inner{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

:root{
    --list-width : 20vw;
    --room-width : 80vw;
}

#talk-room-btn{
    padding: 10px;
}

#talk-room-list{
    width: var(--list-width);
    height: 100vh;
}

#talk-room{
    width: var(--room-width);
    height: 100vh;
    position: relative;
}

#talk-room-head{
    height: 10%;
    width: 100%;
}

#bubbles{
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#speech-input-box{
    position: absolute;
    top: 90%;
}

.bubble{
    
    border-radius: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 3vw;
}

#bubbles::-webkit-scrollbar{
    display: none;
}