body{
    background-color: rgb(50, 50, 55);
    overflow: hidden;
    margin: 0;
}

#body-inner{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

:root{
    --list-width : 20vw;
    --room-width : 80vw;
}

#search-word-box{
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    font-size: small;
}
#sidebar{
    width: var(--list-width);
    height: 100vh;
    background-color: rgb(40,40,45);
    z-index: 1;
    box-shadow: 2px 2px 5px black;
}

#talk-room-list{
    overflow-y: scroll;
}

#talk-room-list::-webkit-scrollbar{
    display: none;
}

#talk-room{
    width: var(--room-width);
    height: 100vh;
    position: relative;
}

#talk-room-title{
    font-size: x-large;
    margin-left: 5%;
}
#talk-room-head{
    height: 3%;
    color: white;
    background-color: rgb(35,35,40);
    width: 100%;
    box-shadow: 2px 2px 5px black;
}

#bubbles{
    margin-top: 1%;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#speech-input-box{
    /* position: absolute; */
    margin-left: 5%;
    width: 70%;
    font-size: x-large;
    height: 50%;
    top: 95%;
    box-shadow: 2px 2px 5px black;
    border-radius: 1vw;
    /* padding-left: 2%; */
    padding: 2%;
    outline-width: 5px;
}

.bubble{
    word-wrap: break-word;
    border-radius: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 3vw;
    font-size: large;
    box-shadow: 3px 3px 7px black;
    color: white;
}

#bubbles::-webkit-scrollbar{
    display: none;
}


.talk-room-btn{
    padding: 3%;
    width: 90%;
    height: 3%;
    /* background-color: red; */
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:none;
    text-align: left;
    padding-left: 6%;
}


#color-picker{
    --size : 20px;
    width : var(--size);
    height: var(--size);
}

#bottom{
    display: flex;
}